/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 0 20px;
    height: 60px;
}

.tab, #icon-button {
    background: none;
    border: none;
    color: #fff;
    padding: 10px 40px;
    cursor: pointer;
    text-decoration: none; /* Eliminar subrayado */
    font-size: 16px;

}

.tab.active {
    border-bottom: 3px solid #e60000;
    font-weight: bold;
}
#icon-button.tab.active{
    border-bottom: 3px solid #e60000;
    font-weight: bold;
}
.tab:hover {
    font-weight: bold;
    border-bottom: 3px solid #6b6b6b;
}

#icon-button {
    font-size: 25px;
}
#icon-button:hover{
    font-weight: bold;
    border-bottom: 3px solid #6b6b6b;
}

/* Menu desplegable */
.user-menu .dropdown {
    display: none; /* Oculto por defecto */
    position: absolute; /* Posición absoluta respecto a .user-menu */
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 150px;

}

/* Estilo de los enlaces del dropdown */
.user-menu .dropdown a,
.user-menu .dropdown form input[type="submit"] {
    display: block;
    width: 100%; /* Ocupa el ancho completo */
    text-align: left; /* Alinea el texto */
    padding: 10px 15px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent; /* Fondo igual al dropdown */
    border: none; /* Elimina bordes del botón */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-menu .dropdown a:last-child {
    border-bottom: none; /* Eliminamos el borde del último elemento */
}

.user-menu .dropdown a:hover,
.user-menu .dropdown form input[type="submit"]:hover {
    background-color: #555;
    color: #ffffff;
}
.user-menu .dropdown form {
    margin: 0;
    padding: 0;
    border-top: 1px solid #444; /* Línea superior para separar visualmente */
}

/* Botón de cerrar sesión */
.user-menu .dropdown form {
    display: flex;
    margin: 0;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 0;
}

/* Mostrar el menú al pasar el cursor */
.user-menu:hover .dropdown {
    display: block; /* Muestra el menú cuando el usuario pasa el cursor */
}

/* Tabla de recibos */
.table-container {
    padding: 20px;
    overflow-x: auto;
}

.recibos-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.recibos-table th, .recibos-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.recibos-table th {
    background-color: #333;
    color: white;
}

.recibos-table tr:hover {
    background-color: #f0f0f07c;
}

.pay-button {
    color: #e60000;
    text-decoration: none;
    font-weight: bold;
}

/* Perfil container */
.perfil-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Información del usuario */
.user-info {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 4%;
}

.user-info .user-icon {
    font-size: 50px;
    margin-right: 15px;
    color: #333;
}

.user-info h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.user-info p {
    margin: 5px 0 0;
    color: #555;
    font-size: 14px;
}

/* Botones de opciones */
.option-button {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    margin-bottom: 1%;
    justify-content: space-between; /* Espacia los elementos a ambos extremos */
}

.option-button .left-content {
    display: flex;
    align-items: center;
}

.option-button i {
    font-size: 30px;
    color: #333;
    margin-right: 15px;
}

.option-button strong {
    color: #333;
    font-size: 20px;
    display: block; /* Asegura que el texto tenga su propia línea */
}

.option-button p {
    margin: 0;
    color: #666;
    font-size: 12px;
}

.option-button:hover {
    background-color: #f0f0f0;
}

.option-button .right-arrow {
    font-size: 16px;
    color: #999;
    margin-left: auto; /* Alinea la flecha al extremo derecho */
}
/* Tarjetas de direcciones */
.direcciones{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    background-color: #f5f5f5; /* Fondo claro */
    padding: 20px;
    box-sizing: border-box;
}
.direccion-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    margin-bottom: 1%;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.direccion-card .icon {
    font-size: 30px;
    color: #333;
    margin-right: 15px;
}

.direccion-info {
    flex: 1;
    margin-left: 10px;
}

.direccion-info strong {
    font-size: 16px;
    color: #333;
}

.direccion-info p {
    font-size: 12px;
    color: #666;
    margin: 0;
}
/*Button-Group*/
.button-group {
    display: flex;
    gap: 10px;
}

.button-group a,
.button-group button {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

.edit-button {
    background-color: #d32f2f;
}

.manage-button {
    background-color: #1976d2;
}

.delete-button {
    background-color: #b71c1c;
}

/* Botón para agregar dirección (estilo tarjeta) */
.add-direccion {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    max-width: 700px; 
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    color: #e53935; 
    position: relative;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.add-direccion:hover {
    background-color: #f9f9f9; /* Cambio de color al pasar el cursor */
}

/* Icono del botón */
.add-direccion i {
    font-size: 18px;
    color: #e53935; /* Color rojo para el ícono */
    margin-right: 10px;
} 

/*Formulario agregar dirección*/
.form-container {
    max-width: 800px;
    width: auto;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input, form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form .number-inputs {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group {
    display: flex;
    gap: 20px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group i {
    font-size: 20px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: #e53935;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #d61010;
}
/*Notificaciones*/
.notifications-container {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.notification-card:hover {
    background-color: #f0f0f0;
}

.notification-content {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.notification-icon {
    font-size: 20px;
    color: #555;
}

.notification-title {
    font-weight: bold;
    margin: 0;
    color: #333;
}

.notification-description {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.notification-date {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
    font-weight: bold;
}

.notification-date .dot {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}
/* Bills-Container Styles */
.bills-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.recibo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
/* Recibo Card Styles */
.recibo-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    max-width: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.recibo-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 24px;
    color: white;
}

.recibo-icon.agua {
    background-color: #2196F3;
}

.recibo-icon.electricidad {
    background-color: #FFC107;
}

.recibo-icon.gas {
    background-color: #FF5722;
}

.recibo-info strong {
    font-size: 16px;
    color: #333;
}

.recibo-info p {
    margin: 5px 0 0;
    color: #666;
    font-size: 14px;
}

/* Add Recibo Button */
.add-recibo {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    max-width: 200px; 
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    color: #e53935; 
    position: relative;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.add-recibo i {
    margin-right: 5px;
}

.add-recibo:hover {
    text-decoration: non;
}

/*Editar informacion estilos*/
.data-edit-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Form Styles */
.data-edit-form {
    width: 100%;
}

.data-edit-row {
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espaciado entre columnas */
}

.data-edit-group {
    flex: 1;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 15px;
}
.data-edit-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.data-edit-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.data-edit-group input:focus {
    outline: none;
    border-color: #d32f2f;
    box-shadow: 0 0 3px rgba(211, 47, 47, 0.5);
}

/* Submit Button */
.data-edit-btn-submit {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.data-edit-btn-submit i {
    margin-right: 5px;
}

.data-edit-btn-submit:hover {
    background-color: #b71c1c;
}