* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f7f7;
    color: #333;
}

header {
    background-color: #f8f7f7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacarlo */
}

.logo img {
    width: 150px;
}
.register-btn {
    background-color: #e60000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none; /* Quita el subrayado del enlace */
    display: inline-block; /* Para que se comporte como un botón */
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    opacity: 0.8;
}
.register-btn:hover {
    opacity: 0.8;
}
.login-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none; /* Quita el subrayado del enlace */
    display: inline-block; /* Para que se comporte como un botón */
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    opacity: 0.8;
}

main {
    padding: 10px;
    text-align: center;
}

.partners h2 {
    color: #e60000;
    font-size: 28px;
    margin-bottom: 20px;
}

.partners p {
    font-size: 18px;
    margin-bottom: 30px;
}

.logos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.logo-item img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo-item img:hover {
    transform: scale(1.1);
}
.banner{
    margin-top: 76px;
    margin-left: 0px;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
