<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Company Utilities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="text-align: center;">
    <h2>Table Company Utilities</h2>
    <div style="width: 80%; margin: auto; padding: auto;">

        <table class="table table-dark table-striped">
            <thead>
                <th>Id</th>
                <th>Name</th>
            </thead>
            <tbody>
                <tr th:each="CompanyUtilities:${CompanyUtilities}">
                    <td><font th:text="${CompanyUtilities.id}"></font></td>
                    <td><font th:text="${CompanyUtilities.name}"></font></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>